body {
  background-color: #add8e6
}

p {
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Merriweather', serif;
}


.parallax {
  /* The image used */
  background-image: url("../images/night.jpeg");
  /* background-image: linear-gradient(to-bottom, red, #e6adad); */
  /* background-image: linear-gradient(#add8e6, #e6adad); */
  /* Set a specific height */
  min-height: 500px; 
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerimg {
  height: 100%;
  width: 100%;
}

.bannerdiv {
  padding-top: 0px;
  padding-bottom: 0px;
}

.row {
  margin-top: 30px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.image-container {
  text-align: center;
}
.image-container img {
  width: 100%;
}

.team-container {
  text-align: center;
}

.team-container h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.team-container img {
  width: 100%;
  height: 450px;
}
